{% if site.enable_google_verification or site.enable_bing_verification %}
    <!-- Website verification -->
    {% if site.enable_google_verification -%}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />
    {%- endif -%}
    {% if site.enable_bing_verification -%}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}" />
    {%- endif -%}
{%- endif %}

    <!-- Standard metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {%- if site.title == "blank" -%}
        {%- capture title -%}{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}{%- endcapture -%}
    {%- else -%}
        {%- capture title -%}{{ site.title }}{%- endcapture -%}
    {%- endif -%}
    {% if page.url == '/blog/index.html' %}
        {{ site.blog_nav_title }} | {{ title }}
    {%- elsif page.title != "blank" and page.url != "/" -%}
        {{ page.title }} | {{ title }}
    {%- else -%}
        {{ title }}
    {%- endif -%}
    </title>
    <meta name="author" content="{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}" />
    <meta name="description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description }}{%- endif -%}" />
{%- if page.keywords or site.keywords %}
    <meta name="keywords" content="{%- if page.keywords -%}{{ page.keywords }}{%- else -%}{{ site.keywords }}{%- endif -%}" />
{%- endif %}

{%- if site.serve_og_meta %}

    <!-- OpenGraph -->
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{%- if page.title -%}{{ title }} | {{ page.title }}{%- else -%}{{ title }}{%- endif -%}" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}" />
    <meta property="og:description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description }}{%- endif -%}" />
    {% if page.og_image or site.og_image -%}
    <meta property="og:image" content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
    {%- endif %}
    <meta property="og:locale" content="{{ site.lang }}" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{%- if page.title -%}{{ page.title }}{%- else -%}{{ title }}{%- endif -%}" />
    <meta name="twitter:description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.description }}{%- endif -%}" />
    {% if page.og_image or site.og_image -%}
    <meta name="twitter:image" content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
    {%- endif %}
    {% if site.sosial.twitter -%}
    <meta name="twitter:site" content="@{{ site.sosial.twitter }}" />
    <meta name="twitter:creator" content="@{{ site.sosial.twitter }}" />
    {%- endif %}
{%- endif %}

{%- if site.serve_schema_org %}

    <!-- Schema.org -->
    {%- comment -%} Social links generator for "sameAs schema" {%- endcomment %}
    {% assign sameaslinks = "" | split: "," %}
    {%- if site.orcid_id -%}
        {%- capture link -%}https://orcid.org/{{ site.orcid_id }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.scholar -%}
        {%- capture link -%}https://scholar.google.com/citations?user={{ site.sosial.scholar }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.semanticscholar -%}
        {%- capture link -%}https://www.semanticscholar.org/author/{{ site.sosial.semanticscholar }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.publons -%}
        {%- capture link -%}https://publons.com/a/{{ site.sosial.publons }}/{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.research_gate_profile -%}
        {%- capture link -%}https://www.researchgate.net/profile/{{site.sosial.research_gate_profile}}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.github -%}
        {%- capture link -%}https://github.com/{{ site.sosial.github }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.linkedin -%}
        {%- capture link -%}https://www.linkedin.com/in/{{ site.sosial.linkedin }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.twitter -%}
        {%- capture link -%}https://twitter.com/{{ site.sosial.twitter }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.medium -%}
        {%- capture link -%}https://medium.com/@{{ site.sosial.medium }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.quora -%}
        {%- capture link -%}https://www.quora.com/profile/{{ site.sosial.quora }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.blogger -%}
        {%- capture link -%}{{ site.sosial.blogger }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.work -%}
        {%- capture link -%}{{ site.sosial.work }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.wikidata -%}
        {%- capture link -%}https://www.wikidata.org/wiki/{{ site.sosial.wikidata }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.strava_userid -%}
        {%- capture link -%}https://www.strava.com/athletes/{{ site.strava_userid }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.keybase -%}
        {%- capture link -%}https://keybase.io/{{ site.sosial.keybase }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.gitlab -%}
        {%- capture link -%}https://gitlab.com/{{ site.sosial.gitlab }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.dblp -%}
        {%- capture link -%}{{ site.sosial.dblp }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.stackoverflow -%}
        {%- capture link -%}https://stackoverflow.com/users/{{ site.sosial.stackoverflow }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.kaggle -%}
        {%- capture link -%}https://www.kaggle.com/{{ site.sosial.kaggle }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.lastfm -%}
        {%- capture link -%}https://www.last.fm/user/{{ site.sosial.lastfm }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.spotify -%}
        {%- capture link -%}https://open.spotify.com/user/{{ site.sosial.spotify }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.pinterest -%}
        {%- capture link -%}https://www.pinterest.com/{{ site.sosial.pinterest }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.unsplash -%}
        {%- capture link -%}https://unsplash.com/@{{ site.sosial.unsplash }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.instagram -%}
        {%- capture link -%}https://instagram.com/{{ site.sosial.instagram }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.facebook -%}
        {%- capture link -%}https://facebook.com/{{ site.sosial.facebook }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if site.sosial.discord -%}
        {%- capture link -%}https://discord.com/users/{{ site.sosial.discord }}{%- endcapture -%}
        {%- assign sameaslinks = sameaslinks | push: link -%}
    {%- endif -%}
    {%- if sameaslinks != blank -%}
        {%- assign sameaslinks = sameaslinks | split: "" -%}
    {%- endif -%}

    <script type="application/ld+json">
      {
        "author":
        {
          "@type": "Person",
          "name": "{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}"
        },
        "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
        "@type": "WebSite",
        "description": "{%- if page.description -%}{{ page.description }}{%- else if site.description -%}{{ site.description }}{%- endif -%}",
        "headline": "{%- if page.title -%}{{ page.title }}{%- else -%}{{ site.title }}{%- endif -%}",
        {% if sameaslinks != blank -%}
        "sameAs": {{ sameaslinks }},
        {%- endif %}
        "name": "{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}",
        "@context": "https://schema.org"
      }
    </script>
{%- endif %}
